[Jira]
server = <host url>
username = <username>
api_token = <api token>
project_key = <project key>

[Report]
username = <jira username used in issues>
introduction = <introduction to the ticket list output>

[Logging]
level = INFO

[StatusMapping]
# Map here the ids of the statuses of your Jira workflow (the canonical names, not translated)
# with the internal statuses of the application.
# Available internal statuses: TO_DO, IN_PROGRESS, TO_REVIEW, IN_REVIEW, TO_DEPLOY, TO_TEST, IN_TEST, DONE
#
# Example:
#   1 = TO_DO
#   2 = IN_PROGRESS
#   3 = TO_REVIEW
#   4 = TO_TEST
#   5 = DONE
